<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>{% block title %}{% endblock %} - Message Bank</title>
<h1> Message Bank </h1>
<nav>
    <ul>
        <li><a href="{{ url_for('main') }}"><b>Main_page</b></a></li>
        <li><a href="{{ url_for('submit') }}"><b>Submit</b></a></li>
        <li><a href="{{ url_for('view') }}"><b>View</b></a></li>
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% block content %}{% endblock %}
</section>
