{% extends 'base.html' %}
{% block header %}
    <h1> {% block title %}Submit a Message{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <!-- A text box for submitting the name of the user -->
        <label for="name">Your name</label><br>
        <input name="name" id ="name"><br>
        <br>
        <!-- A text box for submitting a message -->
        <label for="message">Please submit a message!</label><br>
        <input name="message" id="message"><br>
        <br>
        
        <input type="submit" value="Submit Message">
    </form>

    {% if thanks %}
        Thanks for the message!
    {% endif %}

    {% if error %}
        Please try again!
    {% endif %}
{% endblock %}

